@import url('https://fonts.cdnfonts.com/css/epilogue-2') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*Usar 62.5% = 10px para utilizar rem como unidade de medida */
}

.App {
  text-align: center;
}

body {
  background-image: url('images/background-v4.jpg');
}

.page__text {
  color: white;
  font-family: Epilogue , sans-serif;
  font-weight: 300;
}
